{% extends "base.html" %}
{% block content %}
  <h3>All tasks for tag: {{ tag }}</h3>
  {% for task in tag.tasks.all %}
    <div class="list-group-item list-group-item-action flex-column align-items-start mb-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ task.content }}</h5>
        <small>{{ task.created_at }}</small>
      </div>
      <p class="mb-1">
        {% if task.completed %}
          <span class="badge bg-success">Done</span>
        {% else %}
          <span class="badge bg-danger">Not done</span>
        {% endif %}
      </p>
      {% if task.deadline %}
        <p class="mb-1"><small>Deadline: {{ task.deadline }}</small></p>
      {% endif %}
      {% if task.tags.all %}
        <p class="mb-0">
          <small>Tags:
            {% for tag in task.tags.all %}
              <span class="badge bg-secondary">{{ tag }}</span>
            {% endfor %}
          </small>
        </p>
      {% endif %}
      <div class="d-flex justify-content-between mt-2">
        <div>
          <a href="{% url "list:task-update" pk=task.id %}" class="btn btn-warning btn-sm me-2">Update</a>
          <a href="{% url "list:task-delete" pk=task.id %}" class="btn btn-danger btn-sm me-2">Delete</a>
        </div>
        <div>
          {% if task.completed %}
            <form action="{% url "list:task-complete-undo" pk=task.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary btn-sm">Undo</button>
            </form>
          {% else %}
            <form action="{% url "list:task-complete-undo" pk=task.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-success btn-sm">Complete</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  {% empty %}
    <h5>No tasks yet</h5>
  {% endfor %}
{% endblock %}
